.banner .swiper {
    width: 580px;
    height: 400px;
    border-radius: 15px;
  }
  
 .banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner.swiper-slide img {
    display: block;
    width: 580px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
  }
